.nav-link a:hover{
    border-radius: 10px;
    color: #200429d3;
}
.full-footer{
    background-color: #0dca0dd3;
    color: #1b064dd3;
    font-weight: 600px;
}
.full-footer a{
    color:#010211d3;
    text-decoration: none;
}
.bottom-footer{
    background-color: #000;
    color:#0dca0dd3;
}
.carousel-inner{
    height: 850px;
}